@model FitKitApp.Models.Objekt

@{
    ViewData["Title"] = "Delete";
}

<h1>Избриши</h1>

<h3>Дали сте сигурни дека сакате да ги избришете информациите за овој објект</h3>
<div>
    <h4>Objekt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kvadratura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kvadratura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxClients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxClients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipVezbanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipVezbanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtvorZatvor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtvorZatvor)
        </dd>
        <dt class = "col-sm-2">
            Прв Тренер
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coach1.FullName)
        </dd class>
        <dt class = "col-sm-2">
            Втор Тренер
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coach2.FullName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
