@model IEnumerable<FitKitApp.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Корисници</h1>

<p>
    <a asp-action="Create">Креирај Нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.ProfilePic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tezina)
            </th>
            <th>
                Обеми(мерки)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tezina)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Провери обеми</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Промени</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Избриши</a>
            </td>
        </tr>
}
    </tbody>
</table>
